In [16]:
import pandas as pd
import numpy as np

df = pd.read_csv("Matteprov.csv")

#print(df.head(3))
#print(df.tail(2)) # Slänger raderna som innehåller Nan
#print(df.dropna())  # Slänger raderna som innehåller Nan
df = df.fillna(0)
df["Total"] = df.sum(axis=1)
df["Betyg"] = np.where(df["Total"] > 7,  "Godkänt", "Underkänt")
df

    Elev  Uppg 1  Uppg 2  Uppg 3  Uppg 4  Uppg 5  Total      Betyg
0    Ada     3.0     0.0     2.0     3.0     0.0    8.0    Godkänt
1   Beda     2.0     3.0     1.0     3.0     3.0   12.0    Godkänt
2   Ceda     3.0     1.0     0.0     1.0     0.0    5.0  Underkänt
3   Deda     0.0     2.0     0.0     3.0     3.0    8.0    Godkänt
4    Eda     2.0     1.0     2.0     1.0     3.0    9.0    Godkänt
5   Feda     0.0     0.0     0.0     0.0     0.0    0.0  Underkänt
6   Geda     3.0     1.0     1.0     2.0     3.0   10.0    Godkänt
7   Heda     0.0     1.0     0.0     1.0     3.0    5.0  Underkänt
8    Ida     2.0     1.0     2.0     2.0     3.0   10.0    Godkänt
9   Keda     2.0     2.0     1.0     0.0     2.0    7.0  Underkänt
10  Leda     3.0     1.0     2.0     1.0     3.0   10.0    Godkänt
11  Meda     0.0     2.0     0.0     1.0     1.0    4.0  Underkänt

In [17]:
# plocka ut kolumner med kolumnnamn #df["Total"]
df["Betyg"]

0       Godkänt
1       Godkänt
2     Underkänt
3       Godkänt
4       Godkänt
5     Underkänt
6       Godkänt
7     Underkänt
8       Godkänt
9     Underkänt
10      Godkänt
11    Underkänt
Name: Betyg, dtype: object

## Conditional Filtering
- vilkorlig sökning(filtrering)

In [10]:
df_G = [df["Betyg"]=="Godkänt"]
df_U = [df["Betyg"]=="Underkänt"]
df_U =

NameError: name 'df' is not defined

## Datavisualisering

In [12]:
import matplotlib.pyplot as plt

betygslista = df["Betyg"].value_counts().tolist()
labels = df["Betyg"].unique()

plt.bar(labels, betygslista, width=.4, color = ["green", "orange"])
plt.title

NameError: name 'df' is not defined