In [1]:
s = 0 

for i in range(1,10):
    s += i

print(s)

45

In [2]:
s = 0 

for i in range(1,10,2):
    s += i

print(s)

25

# Skriv alla tal fr√•n 1 - 100

In [3]:
for i in range(1,101):
    print(i, end =" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [4]:
# 50 - 100
for j in range(50,101):
    print(j, end=" ")

50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [13]:
# 100 till 50
for i in range(100,49,-1):
    print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50

In [14]:
s = 0

for i in range(11):
    s += i

print(f"1+2+3+...+9+10 = {s}")

1+2+3+...+9+10 = 55

# For satser 1.

In [16]:
# a)
for i in range(1,11):
    print(i, end =" ")

1 2 3 4 5 6 7 8 9 10

In [17]:
# b)
for i in range(-10,11):
    print(i, end =" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [18]:
# c)
for i in range(10,0,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

# For satser 3.

In [19]:
s = 0

for i in range(101):
    s += i

print(f"1+2+3+...+99+100 = {s}")

1+2+3+...+99+100 = 5050

# For satser 4.

In [4]:
s = 0

for i in range(1,101,2):
    s+= i

print(f"1+2+3+...+98+99 = {s}")

1+2+3+...+98+99 = 2500